.clients__company {
  display: flex;
  justify-content: space-between;
}
.clients__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 50px;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
    color: $accent-color;
  }
}
